<div appHighlight [date]="course?.date" [ngClass]="{'top-rated': course.isTopRated}" class="course-wrapper mb-3">
	<div class="course-data">
		<div class="course-header-row">
			<div>
				<div class="course-name">{{course.name | uppercase}}</div>
				<div *ngIf="course.isTopRated" class="course-star icofont-star ml-2"></div>
			</div>
			<div class="course-info">
				<div class="course-duration px-3"><i class="icofont-clock-time mr-2"></i>{{course.length | duration}}</div>
				<div class="course-date"><i class="icofont-ui-calendar mr-2"></i>{{course.date | date}}</div>
			</div>
		</div>
		<div class="course-description">{{course.description}}</div>
	</div>
	<div class="course-controls">
		<button class="btn btn-primary m-1" (click)="onEdit(course.id)"><i class="icofont-ui-edit pr-2"></i>Edit</button>
		<button class="btn btn-primary m-1" (click)="onDelete(course)"><i class="icofont-trash pr-2"></i>Delete</button>
	</div>
</div>
