<div class="d-flex justify-content-between">
	<app-search
		class="d-flex py-3"
		(searchCourseEvent)="searchCourse($event)"
	></app-search>
	<div class="align-self-center">
		<button (click)="addCourse()" type="button" name="add-course" class="btn btn-primary">
			<i class="icofont-plus"></i> Add course
		</button>
	</div>
</div>
<div *ngIf="filteredCourses?.length">
	<app-course-item
		*ngFor="let course of filteredCourses | order"
		[course]="course"
		(editCourseEvent)="editCourse($event)"
		(deleteCourseEvent)="deleteCourse($event)"
		class="my-3 d-block"
	>
	</app-course-item>
	<button (click)="loadMore()" type="button" class="load-more-button">
		<i class="icofont-refresh pr-2"></i>Load More
	</button>
</div>
<div *ngIf="filteredCourses?.length === 0" class="my-2">
	<app-no-data></app-no-data>
</div>
