<div class="add-course-form-centered">
	<div class="add-course-form-wrapper">
		<h4 *ngIf="isAddPage$ | async">New Course</h4>
		<h4 *ngIf="(isAddPage$ | async) === false">Edit Course</h4>
		<form [formGroup]="courseForm">
			<input type="hidden" name="id" formControlName="id" />
			<div class="form-group">
				<div class="d-flex">
					<label for="title-input">Title:</label>
					<span class="required">*required</span>
				</div>
				<input
					type="text"
					class="form-control"
					id="title-input"
					name="title"
					formControlName="title"
					placeholder="Course title"
				/>
				<div
					*ngIf="title.invalid && (title.dirty || title.touched)"
					class="alert alert-danger"
				>
					<div *ngIf="title.errors.maxlength">
						Max length of title is 50 symbols
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="d-flex">
					<label for="description-input">Description:</label>
					<span class="required">*required</span>
				</div>
				<textarea
					class="form-control"
					id="description-input"
					name="description"
					formControlName="description"
					placeholder="Add some words about the course"
					rows="3"
				></textarea>
				<div
					*ngIf="
						description.invalid && (description.dirty || description.touched)
					"
					class="alert alert-danger"
				>
					<div *ngIf="description.errors.maxlength">
						Max length of description is 500 symbols
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="d-flex">
					<label for="duration-input">Duration:</label>
					<span class="required">*required</span>
				</div>
				<app-duration-input formControlName="duration"></app-duration-input>
				<div
					*ngIf="duration?.invalid && (duration?.dirty || duration?.touched)"
					class="alert alert-danger"
				>
					<div *ngIf="duration?.errors?.duration">
						Duration should be a positive value
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="d-flex">
					<label for="date-input">Date:</label>
					<span class="required">*required</span>
				</div>
				<div class="row m-0">
					<input
						width="30"
						class="form-control col-4"
						type="date"
						name="date-input"
						formControlName="date"
						id="date-input"
					/>
					<div
						*ngIf="date.invalid && (date.dirty || date.touched)"
						class="alert alert-danger"
					>
						<div *ngIf="date.errors.date">Date should be valid</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="d-flex">
					<label for="authors-input">Authors:</label>
					<span class="required">*required</span>
				</div>
				<mat-form-field class="authors-chip-list">
					<mat-chip-list
						#chipList
						aria-label="Author selection"
						arrayControlName="authors"
					>
						<mat-chip
							*ngFor="let author of authors.controls; let i = index"
							[removable]="true"
							(removed)="removeAuthor(i)"
						>
							{{ author.value.name }}
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
						<input
							[matChipInputFor]="chipList"
							[matChipInputAddOnBlur]="true"
							[matAutocomplete]="auto"
						/>
					</mat-chip-list>
					<mat-autocomplete
						#auto="matAutocomplete"
						(optionSelected)="selectAuthor($event)"
					>
						<mat-option
							*ngFor="let author of authors$ | async"
							[value]="author"
						>
							{{ author.name }}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</div>
			<div class="form-group d-flex justify-content-end">
				<button
					type="button"
					class="btn mx-3 btn-secondary"
					(click)="onCancel()"
				>
					Cancel
				</button>
				<button type="button" class="btn btn-primary" (click)="onSave()">
					Save
				</button>
			</div>
		</form>
	</div>
</div>
