@logo-size: 28px;

.logo-wrapper {
	display: flex;
	align-items: center;
	height: 100%;
	cursor: pointer;
	background: transparent;
	border: 0;

	.logo,
	.title {
		font-weight: 600;
	}
	.logo {
		width: @logo-size;
		color: #b4d084;
		font-size: @logo-size;
	}

	.title {
		text-transform: uppercase;
		color: white;
		padding-left: 5px;
	}
}
